.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 120px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.control {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.control input {
  min-width: 300px;
}

.control button {
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.w45 {
  width: 45%;
}

.bb1 {
  border-bottom: 1px solid #ccc;
}

.m-r-10 {
  margin-right: 10px;
}

.content {
  padding: 20px;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.selected-mnemonic, .selected-did, .selected-did-owner, .selected-did-balance, .selected-signedJWT {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
}

.mnemonic, .did, .did-owner, .did-balance {
  margin-top: 2px;
  font-size: 10px;
  color: dodgerblue
}

.signedJWT {
  width: 100%;
  margin-top: 5px;
  font-size: 14px;
  word-wrap: break-word;
  color: dodgerblue
}

.common-line {
  width: calc(100% - 10px);
  padding: 5px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 40px;
  background-color:beige
}

.wrap {
  width: 100%;
  height: calc(100% - 40px);
  overflow: scroll;
}

.selected {
  background: aquamarine;
}

.did-common {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border: 1px solid #ccc;
}

.mnemonic-item, .did-item {
  cursor: pointer;
  font-size: 10px;
}

.mnemonic-did-content {
  display: flex;
  flex: 1;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.dflex {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}

.green {
  color: green;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

@keyframes App-logo-spin {
  0% { transform: rotateY(0deg); }
  40% { transform: rotateY(170deg); }
  60% { transform: rotateY(190deg); }
  100% { transform: rotateY(360deg); }
}
